@page "/formu"
@inject HttpClient Http

<PageTitle>Personajes</PageTitle>


@if (personajes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Spicies</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var persona in personajes)
            {
                <tr>
                    <td>@persona.Name</td>
                    <td>@persona.Status</td>
                    <td>@persona.Spicies</td>
                   
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private perso[]? personajes;

    protected override async Task OnInitializedAsync()
    {
        personajes = await Http.GetFromJsonAsync<perso[]>("sample-data/personajes.json");
    }

    public class perso
    {
        public string? Name{ get; set; }

        public string? Status { get; set; }

        public string? Spicies{ get; set; }

    }
}
