@page "/"
@inherits LayoutComponentBase

<h1>Bienvenidos a la página de @NombrePagina</h1>
<h2> este es @Slogan </h2>

@code {
    private string NombrePagina = "john cena";
    private string Slogan = "Mes que un club";
}
